@import "tailwindcss";


:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
  overflow-x: hidden;
}